* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

body{
    // // overflow-x:hidden;
    // width: 100vh;
}
